venv/
.ipynb_checkpoints/
*.bat
*.pyc
/*.egg-info
__pycache__/
.idea/
.vscode
dist/
.cache/
.DS_Store

# ignore all datasets except info.py
teex/_datasets/saliencyMap
teex/_datasets/wordImportance
teex/_datasets/featureImportance
teex/_datasets/decisionRule

teex.code-workspace
